---
import Location from "../icons/Location.astro";
import { fetchLastTwoConcerts } from "../../services/metallica-data";
const lastTwoConcerts = await fetchLastTwoConcerts();
---

<section
  class="relative sm:h-screen w-screen text-center overflow-hidden flex justify-center"
  id="concerts"
>
  <div
    class="relative flex flex-col justify-center sm:h-screen box-border gap-4"
  >
    <header class="flex flex-col justify-around">
      <h2 class="text-gray-200 text-4xl font-medium rock-font mt-16 mb-8">
        Lastest Concerts
      </h2>
    </header>

    <div class="relative flex flex-col sm:flex-row justify-center text-white">
      <ul class="sm:flex gap-2 sm:gap-16">
        {
          lastTwoConcerts.map(
            (concert: {
              id: string;
              venue: {
                name: string;
                city: {
                  name: string;
                };
              };
              sets: {
                set: {
                  song: {
                    name: string;
                  }[];
                }[];
              };
              name: string;
              eventDate: string;
            }) => (
              <li id={concert.id}>
                <div class="flex justify-around sm:justify-between mb-6">
                  <div>
                    <Location />
                  </div>
                  <p class=" text-lg">
                    {/* Location Concert */}
                    {concert.venue.name}, {concert.venue.city.name}
                  </p>
                  {/* Date Concert */}
                  <h3 class="text-amber-200 text-[12px] italic ml-3">
                    {concert.eventDate}
                  </h3>
                </div>
                <ul class="mb-6">
                  {concert.sets.set.length === 0 ? (
                    <p>No songs added yet.</p>
                  ) : (
                    ""
                  )}
                  {concert.sets.set.map(
                    (set: {
                      song: {
                        name: string;
                      }[];
                    }) => (
                      <li>
                        <ul>
                          {set.song.map((song: { name: string }) => (
                            <li class="mb-1 text-sm">{song.name}</li>
                          ))}
                        </ul>
                      </li>
                    )
                  )}
                </ul>
              </li>
            )
          )
        }
      </ul>
    </div>
  </div>
</section>
