---
import LogoLastFM from "../../Logos/LogoLastFM.astro";
import { lastFMGetTopSongs } from "../../../services/lastfm-get-top-songs";

let topSongs;
try {
  topSongs = await lastFMGetTopSongs();
  if (topSongs?.statusCode !== 200) {
    topSongs = null;
  }
} catch (error) {
  topSongs = null;
}
const { area, title } = Astro.props;
---

<section class=`sm:[grid-area:${area}] box-border p-3`>
  <header
    class="flex flex-row justify-center items-center gap-2 mb-8 text-center"
  >
    <span>
      <LogoLastFM />
    </span>
    <h2 class="font-semibold text-lg">{title}</h2>
  </header>

  <ul class="flex flex-col flex-wrap items-start content-center">
    {
      topSongs ? (
        topSongs.data.toptracks.track.map((song) => {
          return (
            <li class="flex flex-row items-center justify-start gap-2 mb-4 w-[70%]">
              <picture class="relative w-8 h-8">
                <img
                  src={song.albumImage}
                  alt={`Cover image of ${song.name}`}
                />
              </picture>
              <h2 class="truncate">{song.name}</h2>
            </li>
          );
        })
      ) : (
        <div slot="error-404" class="relative flex flex-col items-center">
          <div class="border-red-600 border rounded-sm p-4 bg-gray-700/5 mb-6">
            <p class="text-white text-lg tracking-widest">
              Top songs could not be loaded
            </p>
          </div>
        </div>
      )
    }
  </ul>
</section>
