---
import LogoSpotify from "../../Logos/LogoSpotify.astro";
import { getTopTracks } from "../../../services/spotify-get-top-tracks.ts";

let metallicaTopTracks;
try {
  metallicaTopTracks = await getTopTracks();
} catch (error) {
  console.error("Failed to fetch artist info:", error);
  metallicaTopTracks = null;
}

interface props {
  area: string;
}

const { area, title } = Astro.props;
---

<section class=`[grid-area:${area}] box-border p-3`>
  {
    metallicaTopTracks ? (
      <>
        <header class="flex flex-row justify-center items-center gap-2 mb-8 text-center">
          <span>
            <LogoSpotify />
          </span>
          <h2 class="font-semibold text-lg">{title}</h2>
        </header>
        <ul>
          {metallicaTopTracks.tracks.map((track) => {
            return (
              <li class="flex flex-row items-center justify-start gap-2 mb-4">
                <picture class="relative w-8 h-8">
                  <img src={track.album.images[1].url} alt={track.name} />
                </picture>
                <h2 class="truncate">{track.name}</h2>
              </li>
            );
          })}
        </ul>
      </>
    ) : (
      <h2>Top tracks could not be loaded</h2>
    )
  }
</section>
